<ion-header>
    <ion-toolbar>
        <ion-title>Novedades</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="elementos">
        <div class="Todos">
            <p>Todo</p>
        </div>

        <div class="productos">
            <p>Productos</p>
        </div>

        <div class="kiosco">
            <p>Kiosco</p>
        </div>

        <div class="horarios">
            <p>Horarios</p>
        </div>
    </div>
    <div class="todo">
        <ion-card>
            <img alt="Producto destacado" src="https://ionicframework.com/docs/img/demos/card-media.png" />

            <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                Here's a small text description for the card content.
            </ion-card-content>
        </ion-card>

        <ion-card>
            <img alt="Producto destacado" src="https://ionicframework.com/docs/img/demos/card-media.png" />

            <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                Here's a small text description for the card content.
            </ion-card-content>
        </ion-card>

        <ion-card>
            <img alt="Producto destacado" src="https://ionicframework.com/docs/img/demos/card-media.png" />

            <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                Here's a small text description for the card content.
            </ion-card-content>
        </ion-card>

         <ion-card>
            <img alt="Producto destacado" src="https://ionicframework.com/docs/img/demos/card-media.png" />

            <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                Here's a small text description for the card content.
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>