<div class="swiper-container">
  <div class="inicio" routerLink='/home'>
    <i class="bi bi-house"></i>
    <p>Inicio</p>
  </div>

  <div class="novedades " routerLink='/novedades'>
    <i class="bi bi-megaphone"></i>
    <p>Novedades</p>
  </div>

  <div class="sorteos" routerLink='/sorteos'>
    <i class="bi bi-gift"></i>
    <p>Sorteos</p>
  </div>

  <div class="ofertas" routerLink='/ofertas'>
    <i class="bi bi-award"></i>
    <p>Ofertas</p>
  </div>

  
  <div class="mas" routerLink='/mas'>
    <i class="bi bi-three-dots"></i>
    <p>Más</p>
  </div>

</div>