<ion-content>
    <div class="swiper-container">

        <div class="carousel">

            <swiper-container slides-per-view="1" loop="true" pagination="true" navigation="true">

                <swiper-slide>
                    <img src="../../../assets/Imagenes/ionic.png" alt="Imagen 1">
                </swiper-slide>

                <swiper-slide>
                    <img src="../../../assets/Imagenes/ionic.png" alt="Imagen 2">
                </swiper-slide>

                <swiper-slide>
                    <img src="../../../assets/Imagenes/ionic.png" alt="Imagen 3">
                </swiper-slide>

            </swiper-container>

        </div>

        <h2>Categorías</h2>

        <div class="categorias">

            <div class="novedades">
                <i class="bi bi-megaphone-fill"></i>
                <p>Novedades</p>
            </div>

            <div class="sorteos">
                <i class="bi bi-gift-fill"></i>
                <p>Sorteos</p>
            </div>

            <div class="ofertas">
                <i class="bi bi-currency-bitcoin"></i>
                <p>Ofertas</p>
            </div>

            <div class="eventos">
                <i class="bi bi-calendar2"></i>
                <p>Eventos</p>
            </div>

        </div>

        <h2>Destacados</h2>
        //cambiar ion card por un for
        <div class="destacados">

            <ion-card>
                <img alt="Producto destacado" src="https://ionicframework.com/docs/img/demos/card-media.png" />

                <ion-card-header>
                    <ion-card-title>Card Title</ion-card-title>
                    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                    Here's a small text description for the card content.
                </ion-card-content>
            </ion-card>

            <ion-card>
                <img alt="Producto destacado" src="https://ionicframework.com/docs/img/demos/card-media.png" />

                <ion-card-header>
                    <ion-card-title>Card Title</ion-card-title>
                    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                    Here's a small text description for the card content.
                </ion-card-content>
            </ion-card>

            <ion-card>
                <img alt="Producto destacado" src="https://ionicframework.com/docs/img/demos/card-media.png" />

                <ion-card-header>
                    <ion-card-title>Card Title</ion-card-title>
                    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                    Here's a small text description for the card content.
                </ion-card-content>
            </ion-card>
        </div>

    </div>

</ion-content>
