
<app-navbar></app-navbar>
<div class="carousel">

    <swiper-container slides-per-view="1" loop="true" pagination="true" navigation="true">

        <swiper-slide>
            <img src="../../../assets/Imagenes/ionic.png" alt="Imagen 1">
        </swiper-slide>

        <swiper-slide>
            <img src="../../../assets/Imagenes/ionic.png" alt="Imagen 2">
        </swiper-slide>

        <swiper-slide>
            <img src="../../../assets/Imagenes/ionic.png" alt="Imagen 3">
        </swiper-slide>

    </swiper-container>
    <h1>aña22</h1>
</div>