<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Más Opciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="head">
    <img src="../../../assets/Imagenes/ionic.png" alt="ionic">
    <div class="titulo">
      <h2><strong>Kiosco del colegio</strong></h2>
      <p>Tu kiosco de siempre, cerca de vos</p>
    </div>
  </div>

  <div class="info">
    <div class="informacion">
      <i class="bi bi-info-circle"></i>
      <p><strong>Información</strong><br>Sobre el kiosco, horarios y más</p>
      <a href=""><i class="bi bi-chevron-right"></i></a>
    </div>

    <div class="contacto">
      <i class="bi bi-telephone"></i>
      <p><strong>Contacto</strong><br>Escribinos por dudas o consultas</p>
      <a href=""><i class="bi bi-chevron-right"></i></a>
    </div>

    <div class="Redes">
      <i class="bi bi-instagram"></i>
      <p><strong>Redes sociales</strong><br>Seguinos para enterarte de todo</p>
      <a href=""> <i class="bi bi-chevron-right"></i></a>

    </div>


  </div>
</ion-content>