<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sorteos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1><strong>Sorteos</strong></h1>
  <div class="filtros">
    <div [class.activo]="activo === true">
      <button (click)="activo=true">Activos</button>
    </div>
    <div [class.activo]="activo === false">
      <button (click)="activo=false">Finalizados</button>
    </div>
  </div>
  <div class="sorteos">

    @if(activo===true){
    <div class="sorteoCard">
      <div>
        <img src="../../../assets/Imagenes/ionic.png" alt="ionic">
        <div>
          <p class="sorteo">Sorteo activo</p>
          <h4><strong>¡Sorteamos una promo dulce!</strong></h4>
          <p>Participá y llevate
            unas galletitas junto
            con un jugo</p>
        </div>
      </div>
      <div class="datos">
        <div class="timer">
          <i class="bi bi-stopwatch"></i>
          <p>Finaliza el:<br><strong>26/10/2026</strong> </p>
        </div>

        <div class="participantes">
          <i class="bi bi-people-fill"></i>
          <p>Participantes:<br><strong>67</strong></p>
        </div>


      </div>
      <button>Participar</button>
    </div>

    <div class="sorteoCard">
      <div>
        <img src="../../../assets/Imagenes/ionic.png" alt="ionic">
        <div>
          <p class="sorteo">Sorteo activo</p>
          <h4><strong>¡Sorteamos una promo dulce!</strong></h4>
          <p>Participá y llevate
            unas galletitas junto
            con un jugo</p>
        </div>
      </div>
      <div class="datos">
        <div class="timer">
          <i class="bi bi-stopwatch"></i>
          <p>Finaliza el:<br><strong>26/10/2026</strong> </p>
        </div>

        <div class="participantes">
          <i class="bi bi-people-fill"></i>
          <p>Participantes:<br><strong>67</strong></p>
        </div>


      </div>
      <button>Participar</button>
    </div>

    <div class="sorteoCard">
      <div>
        <img src="../../../assets/Imagenes/ionic.png" alt="ionic">
        <div>
          <p class="sorteo">Sorteo activo</p>
          <h4><strong>¡Sorteamos una promo dulce!</strong></h4>
          <p>Participá y llevate
            unas galletitas junto
            con un jugo</p>
        </div>
      </div>
      <div class="datos">
        <div class="timer">
          <i class="bi bi-stopwatch"></i>
          <p>Finaliza el:<br><strong>26/10/2026</strong> </p>
        </div>

        <div class="participantes">
          <i class="bi bi-people-fill"></i>
          <p>Participantes:<br><strong>67</strong></p>
        </div>


      </div>
      <button>Participar</button>
    </div>
    }
    @if(activo===false){
    <div class="sorteoCard-finalizados">
      <h3>nada</h3>
    </div>

    }


  </div>
</ion-content>