<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ofertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="filtros">
    <div class="activos">
      <p>Activos</p>
    </div>
    <div class="finalizados">
      <p>Finalizados</p>
    </div>
  </div>
  <div class="ofertas">

    
    <div class="ofertaCard">
      <div>
        <img src="../../../assets/Imagenes/ionic.png" alt="ionic">
        <div>
          <p class="sorteo">Sorteo activo</p>
          <h4><strong>¡Sorteamos una promo dulce!</strong></h4>
          <p>Participá y llevate
            unas galletitas junto
            con un jugo</p>
        </div>
      </div>
      <div class="datos">
        <div class="timer">
          <i class="bi bi-stopwatch"></i>
          <p>Finaliza el:<br><strong>26/10/2026</strong> </p>
        </div>

        <div class="participantes">
          <i class="bi bi-people-fill"></i>
          <p>Participantes:<br><strong>67</strong></p>
        </div>


      </div>
      <button>Participar</button>
    </div>

     <div class="ofertaCard">
      <div>
        <img src="../../../assets/Imagenes/ionic.png" alt="ionic">
        <div>
          <p class="sorteo">Sorteo activo</p>
          <h4><strong>¡Sorteamos una promo dulce!</strong></h4>
          <p>Participá y llevate
            unas galletitas junto
            con un jugo</p>
        </div>
      </div>
      <div class="datos">
        <div class="timer">
          <i class="bi bi-stopwatch"></i>
          <p>Finaliza el:<br><strong>26/10/2026</strong> </p>
        </div>

        <div class="participantes">
          <i class="bi bi-people-fill"></i>
          <p>Participantes:<br><strong>67</strong></p>
        </div>


      </div>
      <button>Participar</button>
    </div>

     <div class="ofertaCard">
      <div>
        <img src="../../../assets/Imagenes/ionic.png" alt="ionic">
        <div>
          <p class="sorteo">Sorteo activo</p>
          <h4><strong>¡Sorteamos una promo dulce!</strong></h4>
          <p>Participá y llevate
            unas galletitas junto
            con un jugo</p>
        </div>
      </div>
      <div class="datos">
        <div class="timer">
          <i class="bi bi-stopwatch"></i>
          <p>Finaliza el:<br><strong>26/10/2026</strong> </p>
        </div>

        <div class="participantes">
          <i class="bi bi-people-fill"></i>
          <p>Participantes:<br><strong>67</strong></p>
        </div>


      </div>
      <button>Participar</button>
    </div>

    
  </div>
</ion-content>